@model ShopManagerSystems.ViewModel.CheckViewModel


@{
    ViewBag.Title = "Чек";
}

<h3>@ViewBag.Title</h3>
<table>
    <tr>
        <td>Дата</td>
        <td>@Model.Date</td>
    </tr>
    <tr>
        <td>
            Cумма
        </td>
        <td>@Model.Summa</td>
    </tr>
    <tr>
        <td>Файл чека</td>
        <td>
            <a asp-action="DownloadFile" asp-controller="Home" asp-route-link="@Model.FileLink">  @Model.FileName</a>
        </td>
    </tr>
</table>

