@model ShopManagerSystems.ViewModel.UserInformationViewModel
@{
    ViewBag.Title = "Дополнительная информация";
}


<h2>Пользователь</h2>

<div class="container">
    <table>
        <tr>
            <td class="">Id</td>
            <td>@Model.UserId</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>@Model.PatronicName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td>@Model.BirthDate</td>
        </tr>
        <tr>
            <td>Номер телефона</td>
            <td>@Model.PhoneNum</td>
        </tr>
    </table>
</div>