
@model IEnumerable<DataLayer.DataLayer.User>
@{
    ViewBag.Title = "Все клиенты";
}

<a asp-action='CreateUser'>Добавить пользователя</a>
<table class='table'>

        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.Patronic</td>
                <td>
                    <a asp-action="Details"  asp-controller="Home" asp-route-id="@item.Id">Детали</a>
                    <a asp-action="Edit"  asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
                    <a asp-action="Delete"  asp-controller="Home" asp-route-id="@item.Id">Удалить</a>
                    <a asp-action="CreateCheck"  asp-controller="Home" asp-route-id="@item.Id">Добавить чек</a>
                    <a asp-action="GetCheck"  asp-controller="Home" asp-route-id="@item.Id">Получить чек</a>
                </td>
            </tr>
        }
</table>